<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="نظام_إدارة_شركة_مقاولات.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Aim-Connection" connectionString="XpoProvider=MSSqlServer;data source=MOK-95\SQLEXPRESS;integrated security=SSPI;initial catalog=construction" />
    <add name="ahmed" connectionString="XpoProvider=MSSqlServer;data source=MOK-95\SQLEXPRESS;integrated security=SSPI;initial catalog=construction" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="نظام_إدارة_شركة_مقاولات.Settings.constructionConnectionString"
      connectionString="Data Source=MOK-95\SQLEXPRESS;Initial Catalog=construction;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <نظام_إدارة_شركة_مقاولات.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>construction</value>
      </setting>
      <setting name="Counter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>"Windows"</value>
      </setting>
    </نظام_إدارة_شركة_مقاولات.Settings>
  </userSettings>
</configuration>
